[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk.git
